{% extends 'layouts.html' %}

{% block body %}
<div class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Fraud Detection<small>Control panel</small></h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    <section class="content">
        <!-- Put Here Image Grid -->
{#        <div class="row-images">#}
{#            {{ image_grid |  safe }}#}
{#        </div>#}
        <ul id="rig" style="padding-left: 0px;">
            {{ image_grid | safe }}
        </ul>
    </section>
</div>
{% endblock %}

