<!DOCTYPE html>
<html>
<head>
  <title>Home - Frod Detection</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Flask-Admin dashboard login template">
  <meta name="author" content="Jonathan Ars">
  <!-- Bootstrap 3.3.6 -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet"></link>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link href="/static/css/AdminLTE.min.css" rel="stylesheet"></link>
  <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
  <link href="/static/css/skin-blue.css" rel="stylesheet"></link>
  <!-- iCheck -->
  <link href="/static/plugins/iCheck/flat/blue.css" rel="stylesheet"></link>
  <!-- Morris chart -->
  <link href="/static/plugins/morris/morris.css" rel="stylesheet"></link>
  <!-- jvectormap -->
  <link href="/static/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"></link>
  <!-- Date Picker -->
  <link href="/static/plugins/datepicker/datepicker3.css" rel="stylesheet"></link>
  <!-- Daterange picker -->
  <link href="/static/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"></link>
  <!-- bootstrap wysihtml5 - text editor -->
  <link href="/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet"></link>
  <!-- Flask-admin admin styles -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- TOP NAVBAR -->
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/admin" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>DE</b></span>
          <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Fraud Detection Example</b></span>
      </a>
      {% include 'includes/_navbar.html' %}
      </header>
    <!-- / TOP NAVBAR -->
      <!-- LEFT MENU -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <i class="fa fa-user-circle" style="color: white; font-size: 2.5em;"></i>
          </div>
          <div class="pull-left info">
            <p>
             Admin
           </p>
           <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
         </div>
       </div>
       <!-- search form -->
       <form action="" method="post" class="sidebar-form">
        <div class="input-group">
          <input type="url" name="url[]" value= "" class="form-control" placeholder="Enter url...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
              <li class="header">MAIN NAVIGATION</li>
{#             {% include 'includes/_poster.html' %}#}
              <li>
                  <a href="/">Home</a>
              </li>
              <li>
                  <a href="/upload">Upload Images</a>
              </li>
              <li>
                  <a href="/archive">Show Archived</a>
              </li>
              <li>
                  <a href="/cr">Show with CR</a>
              </li>
          </ul>
      </section>
        <!-- /.sidebar -->
    </aside>
        <!-- Content Wrapper. Contains page content color white-->
      {% block body %}    {% endblock %}
        </div>
</body>
</html>